<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>Carregue o documento do cliente</title>
</head>
<body>
    <h3>Carregue o documento do cliente:</h3>
    <form
        hx-encoding='multipart/form-data'
        hx-post='/extrair'
        hx-target="#resultado"
        _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
        <input type='file' name='ordem'>
        <button>
            Upload
        </button>
        <progress id='progress' value='0' max='100'></progress>
        <br>
        <label for="#id-cliente">Cliente:</label>
        <input type="text" name="cliente" id="id-cliente">
    </form>
    <div id="resultado"></div>
</body>
</html>